<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ESElezioniConnection" connectionString="data source=localhost;initial catalog=ESElezioni;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="Sql755035_3Connection" connectionString="server=localhost;user id=Sql755035;password=4f8xakg38w;persistsecurityinfo=True;database=sql755035_3" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>